@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-brand-dark: #000F0A;
  --color-brand-card: #001E17;
  /* Darker shade of #007956 */
  --color-brand-action: #009867;
  /* Requested Emerald */
  --color-brand-border: #007956;
  /* Requested Teal */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: radial-gradient(circle at 50% 0%, #007956 0%, #000F0A 100%);
    /* Using #007956 as the primary glow */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}